[submodule "include/glm"]
	path = include/glm
	url = https://github.com/g-truc/glm
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/ocornut/imgui
	branch = Docking
	
[submodule "include/ImGuiFileDialog"]
	path = include/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
	branch = Lib_Only
[submodule "include/libexecstream"]
	path = include/libexecstream
	url = https://github.com/Yhgenomics/libexecstream
[submodule "include/tiny-process-library"]
	path = include/tiny-process-library
	url = http://gitlab.com/eidheim/tiny-process-library
[submodule "include/ImGuizmo"]
	path = include/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "include/json"]
	path = include/json
	url = https://github.com/nlohmann/json
[submodule "include/better-enums"]
	path = include/better-enums
	url = https://github.com/aantron/better-enums
