
src/.vs/LightBakerFrontend/v16/Browse.VC.opendb
src/.vs/LightBakerFrontend/v16/Browse.VC.db-wal
src/.vs/LightBakerFrontend/v16/Browse.VC.db-shm
src/.vs/LightBakerFrontend/v16/Browse.VC.db
src/.vs/LightBakerFrontend/v16/.suo
*.ipch
*.obj
*.pdb
*.idb
*.log
*.tlog
*.ilk
*.recipe
build/Debug/LightBakerFrontend.res
bin/*
build/*
build/*
bin/*
*.exe
include/SDL/
include/ImGuizmo
include/imgui
*.ipdb
*.iobj
*.exe
bin/LightBakerFrontend.exe
bin/LightBakerFrontend.exp
bin/LightBakerFrontend.lib
build/Debug/imgui_popups.h.ifc
build/Release/LightBakerFrontend.iobj
build/Release/LightBakerFrontend.ipdb
*.exe
